In [1]:
import pandas as pd
from sqlalchemy import create_engine
# from password import password

Importing CSV's

In [8]:
y2001 = "Resource/y2001.csv"
y2001_df = pd.read_csv(y2001)
y2001_df

       Nameplate     Technology   Latitude   Longitude  PLNTCODE State
0           45.0  Hydroelectric  33.458665  -87.356823         2    AL
1          170.1    Natural Gas  31.006900  -88.010300         3    AL
2          191.8          Other  31.006900  -88.010300         3    AL
3          170.1    Natural Gas  31.006900  -88.010300         3    AL
4          170.1    Natural Gas  31.006900  -88.010300         3    AL
...          ...            ...        ...         ...       ...   ...
16024       11.5          Other  33.166900 -115.511400     55984    CA
16025        0.7          Other  39.164129 -119.180068     55988    NV
16026        0.8          Other  39.164129 -119.180068     55988    NV
16027        0.8          Other  39.164129 -119.180068     55988    NV
16028       83.2           Wind  45.587778 -118.735277     55989    OR

[16029 rows x 6 columns]

In [10]:
# y2001_df['PLNTCODE'] = y2001_df['PLNTCODE'].astype(str)

In [9]:
y2001_df.dtypes

Nameplate     float64
Technology     object
Latitude      float64
Longitude     float64
PLNTCODE        int64
State          object
dtype: object

In [12]:
y2001_df['Technology'].value_counts()

Other            5363
Natural Gas      4567
Hydroelectric    4145
Coal             1606
Wind              227
Nuclear           104
Solar              17
Name: Technology, dtype: int64

In [14]:
for row in y2001_df:
    y2001_df["Year"] = 2001

In [15]:
y2001_df

       Nameplate     Technology   Latitude   Longitude  PLNTCODE State  Year
0           45.0  Hydroelectric  33.458665  -87.356823         2    AL  2001
1          170.1    Natural Gas  31.006900  -88.010300         3    AL  2001
2          191.8          Other  31.006900  -88.010300         3    AL  2001
3          170.1    Natural Gas  31.006900  -88.010300         3    AL  2001
4          170.1    Natural Gas  31.006900  -88.010300         3    AL  2001
...          ...            ...        ...         ...       ...   ...   ...
16024       11.5          Other  33.166900 -115.511400     55984    CA  2001
16025        0.7          Other  39.164129 -119.180068     55988    NV  2001
16026        0.8          Other  39.164129 -119.180068     55988    NV  2001
16027        0.8          Other  39.164129 -119.180068     55988    NV  2001
16028       83.2           Wind  45.587778 -118.735277     55989    OR  2001

[16029 rows x 7 columns]

In [7]:
# y2001_df.loc[y2001_df[['Technology','PLNTCODE']]].unique()

ValueError: Cannot index with multidimensional key

In [ ]:
y2002 = "Resource/y2002.csv"
y2002_df = pd.read_csv(y2002)
y2002_df.head()

In [ ]:
y2003 = "Resource/y2003.csv"
y2003_df = pd.read_csv(y2003)
y2003_df.head()

In [ ]:
y2004 = "Resource/y2004.csv"
y2004_df = pd.read_csv(y2004)
y2004_df.head()

In [ ]:
y2005 = "Resource/y2005.csv"
y2005_df = pd.read_csv(y2005)
y2005_df.head()

In [ ]:
y2006 = "Resource/y2006.csv"
y2006_df = pd.read_csv(y2006)
y2006_df.head()

In [ ]:
y2007 = "Resource/y2007.csv"
y2007_df = pd.read_csv(y2007)
y2007_df.head()

In [ ]:
y2008 = "Resource/y2008.csv"
y2008_df = pd.read_csv(y2008)
y2008_df.head()

In [ ]:
y2009 = "Resource/y2009.csv"
y2009_df = pd.read_csv(y2009)
y2009_df.head()

In [ ]:
y2010 = "Resource/y2010.csv"
y2010_df = pd.read_csv(y2010)
y2010_df.head()

In [ ]:
y2011 = "Resource/y2011.csv"
y2011_df = pd.read_csv(y2011)
y2011_df.head()

In [ ]:
y2012 = "Resource/y2012.csv"
y2012_df = pd.read_csv(y2012)
y2012_df.head()

In [ ]:
y2013 = "Resource/y2013.csv"
y2013_df = pd.read_csv(y2013)
y2013_df.head()

In [ ]:
y2014 = "Resource/y2014.csv"
y2014_df = pd.read_csv(y2014)
y2014_df.head()

In [ ]:
y2015 = "Resource/y2015.csv"
y2015_df = pd.read_csv(y2015)
y2015_df.head()

In [ ]:
y2016 = "Resource/y2016.csv"
y2016_df = pd.read_csv(y2016)
y2016_df.head()

In [ ]:
y2017 = "Resource/y2017.csv"
y2017_df = pd.read_csv(y2017)
y2017_df.head()

In [ ]:
y2018 = "Resource/y2018.csv"
y2018_df = pd.read_csv(y2018)
y2018_df.head()

In [ ]:
# game_skater_stats = "data/game_skater_stats.csv"
# game_skater_stats_df = pd.read_csv(game_skater_stats)
# game_skater_stats_df.head(5)

In [ ]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/hockey_db')

engine.table_names()

In [ ]:
game_penalties_df.to_sql(
    name='game_penalties',
    schema = 'public',
    con = engine,
    if_exists = 'append',
    index = False
)

In [ ]:
game_skater_stats_df.to_sql(
    name = "game_skater_stats",
    schema = 'public',
    con = engine,
    if_exists = 'append',
    index = False
    )